html, body {
  background-color: #f0f2f5;
  height: 100%;
  font-size: 14px;
  color: #525252;
}
//.container {
//  width: 1170px !important;
//  max-width: none !important;
//}
.navbar-white {
  background-color: #fff;
}
// wrap
.wrap {
  position:relative;
  height: auto;
  min-height: 100%;
  & > .container {
    padding: 70px 10px 0;
  }
}
.container-main {
  padding-bottom: 228px;
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  margin-top: 20px;
  background-color: #fff;
  min-height: 206px;
  width: 100%;
}

// 取消margin
.no-margin {
  margin: 0;
}

// 中屏下的padding
.padding-md {
  padding: 15px;
}

// box
.box {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.user-show {

}

.list-group {
  margin-bottom: 0;
  // 取消圆角
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.list-group-item {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #f2f2f2;
  &.active, &.active:hover, &.active:focus {
    background-color: #00b5ad;
    border-color: #00b5ad;
  }
}
// 修改默认按钮样式
.btn-primary {
  color: #fff;
  background-color: #00b5ad;
  border-color: #00b5ad;
  &:hover {
    color: #fff;
    background-color: #00c4bc;
    border-color: #00c4bc;
  }
}
// 按钮组填充满屏幕
.btn-group-full {
  width: 100%;
  margin-bottom: 20px;
  .btn {
    width: 50%;
    height: 54px;
    font-size: 12px;
    line-height: 1.7;
  }
}
// panel
.panel-title {
  display: inline-block;
}
// textarea
.form-group.input-group {
  textarea {
    height: 50px;
    resize: none;
    font-size: 12px;
  }
  .btn {
     height: 50px;
   }
}
// 导航栏头像
.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}
.avatar-112 {
  width: 112px;
  height: 112px;
}
.avatar {
  border-radius: 50%;
}
.media-object {
  display: block;
}
.padding-sm {
  padding: 10px;
}
.user-basic-info {
  .media-heading {
    margin: 10px 0;
  }
  .item {
     margin: 6px 0;
   }
  // 粉丝
  .follow-info {
    .col-xs-4 {
      border-right: 1px solid #eee;
      &:last-child {
        border: 0;
      }
    }
    a.counter {
      font-size: 25px;
      color: #00b5ad;
      display: block;
      &:hover, &:focus {
        color: #00c4bc;
        text-decoration: none;
      }
    }
    a.text {
      color: #999;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}
span.timeago {
  color: #aaa;
}
// 白色pandel
.panel-white {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff !important;
}
// 空白区域
.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}
.user-basic-nav {
  a {
    color: #525252;
    font-size: 14px;
  }
}
// 面包屑
.breadcrumb {
  background-color: #fff;
}
// 广场聊天
.feed-avatar {
  width: 38px;
  height: 38px;
}
.feed-tool {
  a {
    color: #aaa;
  }
  .vote.up {
    margin-left: 6px;
  }
}
.panel ul {
  padding: 0;
  margin-bottom: 0;
}
.media-list {
  .media {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: #eee solid 1px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .media-action {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
  }
}
.feed-list {
  .media-action {
    margin-top: 10px;
  }
}
.ups {
  font-size: 12px;
  color: #999;
  margin: 10px 0;
}
// 酷站
.form-control.cool-textarea {
  height: 120px;
}
.alert-danger {
  border-radius: 0;
  li {
    list-style: none;
  }
}