html, body {
  background-color: #f0f2f5;
  height: 100%;
  font-size: 14px;
  color: #525252;
}

//.container {
//  width: 1170px !important;
//  max-width: none !important;
//}
.navbar-white {
  background-color: #fff;
}

// wrap
.wrap {
  position: relative;
  height: auto;
  min-height: 100%;
  & > .container {
    padding: 70px 10px 0;
  }
}

// 取消margin
.no-margin {
  margin: 0;
}

// 中屏下的padding
.padding-md {
  padding: 15px;
}

// box
.box {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.user-show {

}

.list-group {
  margin-bottom: 0;
  // 取消圆角
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.list-group-item {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #f2f2f2;
  &.active, &.active:hover, &.active:focus {
    background-color: #00b5ad;
    border-color: #00b5ad;
  }
}

// 修改默认按钮样式
.btn-primary {
  color: #fff;
  background-color: #00b5ad;
  border-color: #00b5ad;
  &:hover {
    color: #fff;
    background-color: #00c4bc;
    border-color: #00c4bc;
  }
}

// 按钮组填充满屏幕
.btn-group-full {
  width: 100%;
  margin-bottom: 20px;
  .btn {
    width: 50%;
    height: 54px;
    font-size: 12px;
    line-height: 1.7;
  }
}

// panel
.panel-title {
  display: inline-block;
}

// textarea
.form-group.input-group {
  textarea {
    height: 50px;
    resize: none;
    font-size: 12px;
  }
  .btn {
    height: 50px;
  }
}

// 导航栏头像
.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.avatar-112 {
  width: 112px;
  height: 112px;
}

.avatar {
  border-radius: 50%;
}

.media-object {
  display: block;
}

.padding-sm {
  padding: 10px;
}

.user-basic-info {
  .media-heading {
    margin: 10px 0;
  }
  .item {
    margin: 6px 0;
  }
  // 粉丝
  .follow-info {
    .col-xs-4 {
      border-right: 1px solid #eee;
      &:last-child {
        border: 0;
      }
    }
    a.counter {
      font-size: 25px;
      color: #00b5ad;
      display: block;
      &:hover, &:focus {
        color: #00c4bc;
        text-decoration: none;
      }
    }
    a.text {
      color: #999;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

span.timeago {
  color: #aaa;
}

// 白色pandel
.panel-white {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff !important;
}

// 空白区域
.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}

.user-basic-nav {
  a {
    color: #525252;
    font-size: 14px;
  }
}

// 面包屑
.breadcrumb {
  background-color: #fff;
}

// 广场聊天
.feed-avatar {
  width: 38px;
  height: 38px;
}

.feed-tool {
  a {
    color: #aaa;
  }
  .vote.up {
    margin-left: 6px;
  }
}

.panel ul {
  padding: 0;
  margin-bottom: 0;
}

.media-list {
  .media {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: #eee solid 1px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .media-action {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
  }
}

.feed-list {
  .media-action {
    margin-top: 10px;
  }
}

.ups {
  font-size: 12px;
  color: #999;
  margin: 10px 0;
}

// 酷站
.form-control.cool-textarea, .form-control.user-textarea {
  height: 120px;
}

.alert-danger {
  border-radius: 0;
  li {
    list-style: none;
  }
}

// 头像预览
.avatar-preview-img {
  padding: 3px;
  border: 1px solid #c8dcdb;
  border-radius: 6px;
  margin-bottom: 10px;
}

// 自定义上传按钮
.input-file {
  position: relative;
}

#input-path {
  //width: 60px;
  //height: 40px;
  position: absolute;
  top: -1px;
  left: 1px;
  opacity: 0;
  filter: alpha(opacity=0)
}

// 新闻
.news-title {
  font-size: 26px;
  margin-top: 0;
  border-left: 3px solid #2f889a;
  border-right: 3px solid #2f889a;
  margin-left: -20px;
  margin-right: -20px;
}

.news-info {
  color: #999;
  font-size: 12px;
}

.news-line {
  margin: 10px 0;
}

.news-content {
  max-width: 100%;
  width: auto \9
;
  // 修改段落样式
  p {
    text-indent: 2em;
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 32px;
  }
  // 修改图片样式，自动居中
  img {
    max-width: 100%;
    width: auto \9
  ;
    height: auto;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
  }
  // 标改标题样式
  h3 {
    margin-left: -20px;
    font-size: 16px;
    padding: 0 30px;
    border-left: 3px solid #2f889a;
  }
  h4 {
    font-size: 15px;
    margin-left: -20px;
    padding: 0 33px;
  }
  // 修改li样式
  li {
    margin: 0 35px 5px 50px;
    font-size: 15px;
    height: 28px;
  }
}

.news-button {
  display: block;
  text-align: center;
  color: #555;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.news-all {
  img {
    width: 100%;
  }
  .label {
    padding-top: 0;
    padding-bottom: 0;
  }
  .list-group-item {
    height: 58px;
    padding: 0px 15px;
  }
}

.news-item {
  img {
    height: 150px;
  }
  .item-title {
    color: #555;
    font-size: 16px;
  }
}

.news-nav {
  a {
    color: #8b8a8a;
    text-decoration: none;
    font-size: 14px;
    padding: 1px 4px;
    line-height: 18px;
  }
  .active {
    border-bottom: 3px solid #dc817e;
  }
}

.page-declare {
  &:last-child {
    margin: 0;
  }
  .page-info {
    font-size: 12px;
    background: #c9394a none repeat scroll 0 0;
    border: 1px solid #c9394a;
    color: #fff;
    //margin-left: 4px;
    padding: 2px 2px;
  }
}

.remove-padding-horizontal {
  padding-bottom: 0px;
  padding-top: 0px;
}

.count_area {
  width: 200px;
  display: inline-block;
  text-align: right;
  color: #bab9bb;
  margin-top: 18px;
  &:hover, &:link, &:visited, &:active {
    color: #bab9bb;
    text-decoration: none;
  }
}

.count_seperator {
  margin: 0px 4px;
  text-align: center;
  font-size: 13px;
}

.list-group-item {
  &:hover {
    background-color: #f4fdfd;
  }
  .new-title {
    width: 100%;
    color: #555;
    display: block;
    font-size: 15px;
    &:hover, &:link, &:visited, &:active {
      text-decoration: none;
    }
  }
  div {
    padding-top: 18px;
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #e4e4e4;
  border-color: #e4e4e4;
  background-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  color: #b4b4b4;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #b4b4b4;
  background-color: #fff;
  border-color: #e4e4e4;
  cursor: not-allowed;
}

.masonry {
  .item {
    margin-bottom: 15px;
    p {
      //background-color: #fff;
    }
  }
}

// 表白墙
.express-container {
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
  border-radius: 4px;
  padding: 10px;
  position: relative;
  p {
    text-indent: 2em;
    margin-bottom: 0;
  }
  .express-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 33px;
    background-color: rgba(0, 0, 0, .7);
    line-height: 33px;
    color: #fff;
    text-indent: 0;
    display: none;
    z-index: 99;
  }
}

.express-num {
  position: absolute;
  top: 0;
  left: 0;

}

// 酷站展示
.cool-list {
  h2 {
    text-align: center;
    font-size: 14px;
    margin: -28px 0 0 0;
    line-height: 2em;
    font-weight: normal;
    background: #333;
    opacity: 0.8;
  }
  a {
    color: #fff;
  }
}

.cool-container {
  h2 {
    margin: 0 0 0 10px;
  }
  hr {
    margin: 10px 0;
  }
  .cool-info, a {
    color: #999;
  }
}

.cool-ul, .express-ul {
  li {
    list-style: disc inside;
    line-height: 2em;
  }
}

// 热门酷站
.cool-hots {
  li {
    list-style: disc inside;
    line-height: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  a {
    color: #337ab7 !important;
  }
}

.avatar-list {
  li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    height: 48px;
    width: 48px;
  }
  img {
    width: 100%;
    border-radius: 50%;
  }
}

// 缩进两个字符
.text-indent {
  text-indent: 2em;
}

// footer
.footer {
  background-color: #fff;
  margin-top: 22px;
  width: 100%;
  padding-top: 22px;
  color: #8A8A8A;
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 160px;
}

.container-main {
  padding-bottom: 180px !important;
}
// 网站制导
.site-tool {
  a {
    color: #555;
    display: block;
    &:hover, &:link, &:visited, &:active {
      text-decoration: none;
    }
  }
  .active {
    a {
      color: #fff;
    }
  }
}
.site-content {
  min-height: 350px;
  p {
    line-height: 25px;
  }
  ul {
    list-style: none;
  }
  li {
    line-height:25px;
    margin-bottom: 10px;
  }
}
.express-box {
  height: 520px;
  //background-color: ;
  background-size: auto;
  box-shadow: 3px 3px 10px #999;
  border: 0 solid #aaa;
  border-radius: 5px;
  background: url("../../tree.jpeg") no-repeat;
}
.express-content {
  height: 100%;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  background: hsla(0, 0%, 100%, .4);
  position: relative;
}