html, body {
  background-color: #f0f2f5;
  height: 100%;
  font-size: 14px;
  color: #525252;
}

.navbar-white {
  background-color: #fff;
}

.wrap {
  position: relative;
  height: auto;
  min-height: 100%;
}

.wrap > .container {
  padding: 70px 10px 0;
}

.container-main {
  padding-bottom: 228px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background-color: #fff;
  min-height: 206px;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.padding-md {
  padding: 15px;
}

.box {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.list-group {
  margin-bottom: 0;
}

.list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #f2f2f2;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.btn-primary {
  color: #fff;
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00c4bc;
  border-color: #00c4bc;
}

.btn-group-full {
  width: 100%;
  margin-bottom: 20px;
}

.btn-group-full .btn {
  width: 50%;
  height: 54px;
  font-size: 12px;
  line-height: 1.7;
}

.panel-title {
  display: inline-block;
}

.form-group.input-group textarea {
  height: 50px;
  resize: none;
  font-size: 12px;
}

.form-group.input-group .btn {
  height: 50px;
}

.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.avatar-112 {
  width: 112px;
  height: 112px;
}

.avatar {
  border-radius: 50%;
}

.media-object {
  display: block;
}

.padding-sm {
  padding: 10px;
}

.user-basic-info .media-heading {
  margin: 10px 0;
}

.user-basic-info .item {
  margin: 6px 0;
}

.user-basic-info .follow-info .col-xs-4 {
  border-right: 1px solid #eee;
}

.user-basic-info .follow-info .col-xs-4:last-child {
  border: 0;
}

.user-basic-info .follow-info a.counter {
  font-size: 25px;
  color: #00b5ad;
  display: block;
}

.user-basic-info .follow-info a.counter:hover, .user-basic-info .follow-info a.counter:focus {
  color: #00c4bc;
  text-decoration: none;
}

.user-basic-info .follow-info a.text {
  color: #999;
}

.user-basic-info .follow-info a.text:hover, .user-basic-info .follow-info a.text:focus {
  text-decoration: none;
}

span.timeago {
  color: #aaa;
}

.panel-white {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff !important;
}

.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}

.user-basic-nav a {
  color: #525252;
  font-size: 14px;
}

.breadcrumb {
  background-color: #fff;
}

.feed-avatar {
  width: 38px;
  height: 38px;
}

.feed-tool a {
  color: #aaa;
}

.feed-tool .vote.up {
  margin-left: 6px;
}

.panel ul {
  padding: 0;
  margin-bottom: 0;
}

.media-list .media {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #eee solid 1px;
}

.media-list .media:first-child {
  margin-top: 0;
}

.media-list .media:last-child {
  border-bottom: none;
}

.media-list .media-action {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

.feed-list .media-action {
  margin-top: 10px;
}

.ups {
  font-size: 12px;
  color: #999;
  margin: 10px 0;
}

.form-control.cool-textarea, .form-control.user-textarea {
  height: 120px;
}

.alert-danger {
  border-radius: 0;
}

.alert-danger li {
  list-style: none;
}

.avatar-preview-img {
  padding: 3px;
  border: 1px solid #c8dcdb;
  border-radius: 6px;
  margin-bottom: 10px;
}

.input-file {
  position: relative;
}

#input-path {
  position: absolute;
  top: -1px;
  left: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
}

/*# sourceMappingURL=app.css.map */
